@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|Alegreya:300,300i,400,400i,700,700i');
* {
  font-family: "Alegreya Sans";
}
input {
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  color: black;
  font-size: 15px;
  font-family: "Allegreya";
}
input:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover, a:focus, a:active {
  text-decoration: none;
}

label{
  font-size: 18px;
}

.accent {
  color: #ff6b6b;
}
.page-main {
  color: rgba(255, 255, 255, 0.75);
}
.page-main a {
  color: #4ecdc4;
  transition: filter 0.15s ease-in-out;
}
.page-main a:hover {
  filter: brightness(80%);
}
.page-main a:active {
  filter: brightness(60%);
}
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.login-panel {
  position: absolute;
  right: 0;
  top: -110px;
  height: auto;
  width: 300px;
  background-color: #22272D;
  padding: 20px;
  z-index: 10;
  box-shadow: -1px 3px 15px 1px rgba(0, 0, 0, 0.35);
  transition: top 0.3s ease-in-out;
  will-change: top;
}
.login-panel.open {
  top: 60px;
}
.login-panel input {
  display: block;
  margin: 10px auto;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
}
.login-panel input:first-of-type {
  margin-top: 0;
}
.login-panel .sign-in {
  border: none;
  background: #ff6b6b;
  padding: 5px 20px;
  font-size: 16px;
  transition: filter 0.25s ease-in-out;
}
.login-panel .sign-in .fa {
  margin-right: 5px;
}
.login-panel .sign-in:hover {
  filter: brightness(80%);
}
.login-panel .sign-in:active {
  filter: brightness(60%);
}
.login-panel .sign-in:focus {
  outline: none;
}
.new-post {
  padding: 50px 0;
  /* text-align: center; */
  max-width: 1080px;
  margin: 0 auto;
}
.new-post .title-input {
  display: block;
  width: 100%;
  margin: 20px 0;
  font-size: 18px;
  height: 40px;
  background-color: #dddddd;
}
.new-post .post-area {
  width: 100%;
  margin: 20px 0;
  display: block;
  border-radius: 3px;
  resize: vertical;
  height: 300px;
  color: black;
  font-size: 18px;
  padding: 10px;
  font-family: "Allegreya";
}
.new-post .post-area:focus {
  outline: none;
}
.new-post .add-btn {
  user-select: none;
  border: none;
  background: #ff6b6b;
  padding: 5px 20px;
  font-size: 18px;
  margin: 20px auto;
  transition: filter 0.25s ease-in-out;
}
.new-post .add-btn .fa {
  vertical-align: middle;
  margin-right: 5px;
}
.new-post .add-btn:hover {
  filter: brightness(80%);
}
.new-post .add-btn:active {
  filter: brightness(60%);
}
.new-post .add-btn:focus {
  outline: none;
}
.footer {
  position: relative;
  margin-top: 30px;
  padding: 0;
  text-align: right;
  width: 100%;
}
.footer p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
}
